.alertCard {
  display: flex;
  flex-direction: row;
}
.alertLeft {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: calc(100vh - 60px);
}
.alertRight {
  width: 75%;
  display: flex;
  height: calc(100vh - 60px);
}
.alertRightCard {
  flex: 1;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 2px;
  height: 100%;
}
.alertLeftTop {
  overflow-y: auto;
  height: 70%;
}
.alertLeftBottom {
  background-color: white;
  border-radius: 5px;
  overflow-y: auto;
  height: 26%;
  padding: 10px;
  margin: 5px 2px;
}
.alertLeftBottom h4 {
  padding-left: 15px;
  font-weight: 500;
  font-size: 16px;
  color: #515151;
  margin: 10px 0px;
}
.alertRightTextCard {
  width: 100%;
  overflow-y: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th {
  background-color: #f5f5f5;
  color: black;
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
}

.custom-table td,
.custom-table th {
  border: 0.5px solid #f0f0f0;
  padding: 8px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.custom-table img {
  padding: 5px;
}

@media (max-width: 768px) {
  .alertLeft {
    width: 35%;
  }

  .alertRight {
    width: 65%;
  }
}
