@font-face {
    font-family: 'Space Grotesk';
    src: local('Space Grotesk'), url('%PUBLIC_URL%/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,'Space Grotesk', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }