.rounded-card {
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    /* padding: 10px; */
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 100px;
    border-bottom: 1px solid #ccc;
  }
  
  .card-header h2 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    padding:20px 0px;
  }
  
  .card-header p {
    margin: 0;
    font-size: 14px;
    color: #777;
  }
  
  .card-body {
    padding: 10px 100px;
  }

  
  .cards-container{
    display: flex;
    flex-direction: row;
  }

  .equity-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 96%;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 245px;
  }

  .equity-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border-bottom: 1px solid #ccc;
  }

  .equity-card-header .heading{
    font-size: 20px;
    font-weight: 500;
  }

  .opening-balance{
    color:#989898;
    font-size: 12px;
  }

  .balance{
    color: #00BA77;

  }
  .homeNoText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }

  .profit-loss-container{
    display:flex;
    justify-content: center;
    margin:15px 0px;
  }

  .equity-card-body {
    flex:1;
  }

  .equity-card-body p {
    color: #00BA77;
    font-size: 60px;
    text-align: center;
    height: 100%;
    width: 100%;

  }
  .homeNoTextEquity{
    display: flex;
    padding-top: 50px;
    justify-content: center;  
  }
  
  .wallet-container{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 96%;
    margin: 10px;
    background-color: #00BA77;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 245px;
  }

  .wallet-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border-bottom: 1px solid #ccc;
  }

  .wallet-card-header .heading{
    color:#F9F9F9;
    font-size: 20px;
    font-weight: 500;
  }

  .wallet-balance{
    color:#F9F9F9;
    font-size: 12px;
  }

  .wallet-balance .balance{
    color:white;
    font-weight: 500;
  }

.wallet-row{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.wallet-item img{
    width: 172px;
    height:150px;
    padding:10px 0px;
}
.wallet-row img {
  width: 150px;
  height: 120px;
}

.right-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-item p{
    color:white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.right-item .info {
    padding:10px 0px;
    font-size: 12px;
    font-weight: 300;
    width: 235px;
    padding-bottom: 18px;
    
}

.right-item button{
    width: 93px;
    height: 30px;
    font-size: 12px;
    font-weight: 300;
    border-radius: 5px;
    border:none
}


.holdings-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 96%;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 273px;
  }

  .holdings-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border-bottom: 1px solid #ccc;
  }

  .holdings-left-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
  }

 .additional-heading{
    font-size: 12px;
    font-weight: 400;
    color:#989898;
  }

  .holdings-card-header .heading{
    font-size: 20px;
    font-weight: 500;
  }

  .opening-balance{
    color:#989898;
    font-size: 12px;
  }

  .balance{
    color: #00BA77;
  }

  .holdings-card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0px 10px;
  }

  .holdings-card-body img{
    width:300px;
    height:120px;
  }

  .holdings-card-body p {
    align-items: center;
    justify-content: center;
    color: #00BA77;
    display: flex;
    font-size: 60px;
    text-align: center;
  }

  .selector{
    height:35px;
    width:122px;
    border:0.5px solid #D9D9D9;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    padding:0px;
  }

  .market-card-body {
    padding:0px 10px;
  }
  @media (max-width:800px) {
    .card-body{
      padding: 10px 20px;
    }
    .wallet-container{
      width: 55%;
    }
    .wallet-row{
      gap: 7px;
    }
    .wallet-row img{
      width: 172px;
      height:120px;
      padding:10px 0px;
  }
  .right-item .info{
    padding-top: 0;
    margin-top: 5px;
    width: 150px;
  }
  .right-item p{
    margin-bottom: 0;
  }
  .homeNoText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:0px
  }
  }
  @media (max-width:450px) {
    .card-header{
      padding: 10px 20px;
    }
    .card-header h2{
      font-size: 18px;
      font-weight: 500;
    }
    .card-body{
      padding: 10px;
    }
    .cards-container{
      display: flex;
      flex-direction: column;
    }
    .equity-container{
      width: 91%;
    }
    .wallet-container{
      width: 91%;
    }
    .holdings-left-header{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .holdings-container{
      width:87%;
      height:auto;
    }
    .holdings-card-body{
      display: flex;
      flex-direction: column;
    }
    .holdings-card-body img{
      display: flex;
      align-items: center;
      width:225px;
      padding:30px 0px;
    }
    .homeNoText{
      padding-top: 50px;
    }
  }
  @media (max-width:350px) {
    .rounded-card{
      margin: 3px 5px 0;
    }
    .card-header{
      padding: 10px 20px;
    }
    .card-header h2{
      font-size: 18px;
      font-weight: 500;
      padding: 12px 0;
    }
    .equity-container{
      width: 87%;
      height: 197px;
    }
    .wallet-container{
      width: 87%;
    }
    .homeNoText{
      padding-top: 25px
    }
    .wallet-row img{
      width: 100px;
      height:80px;
      padding:10px 0px;
    }
  }