@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

.rounded-card {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.walletCard {
  padding: 20px 30px 30px;
  /* height: calc(100vh - 130px); */
}
.walletCardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.balance-container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #00ba77;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 180px;
}

.balance-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  border-bottom: 1px solid #d8d8d8;
}

.balance-card-header .heading {
  color: #f9f9f9;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
}

.balance-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.balance-row p {
  padding: 10px 0px;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.funds-container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  background-color: #0fb23c1a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 180px;
}

.funds-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  border-bottom: 1px solid #d8d8d8;
}

.funds-card-header .heading {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
}

.funds-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.funds-row p {
  padding: 10px 0px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.reserved-container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 180px;
}

.reserved-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  border-bottom: 1px solid #d8d8d8;
}

.reserved-card-header .heading {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
}

.reserved-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.reserved-row p {
  padding: 10px 0px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.addFundsWithdraw {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0px;
}

.wallet-balance-card-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.withdraw {
  padding: 8px 12px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}
.withdraw img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.withdraw a {
  text-decoration: none;
  color: black;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
.add-funds {
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #00ba77;
  display: flex;
  align-items: center;
}
.add-funds img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.add-funds a {
  margin: 0;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.bannerContainer {
  display: flex;
  justify-content: center;
}

.banner {
  background: #00ba77;
  width: 95%;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  overflow: hidden;
}

.coin1 {
  position: absolute;
  top: -11px;
  right: -18px;
  width: 137px;
}
.coin2 {
  position: absolute;
  right: 14%;
  bottom: -10px;
  width: 95px;
}
.coin3 {
  position: absolute;
  right: 23%;
  bottom: 50px;
  top: 50px;
  width: 60px;
}
.coin4 {
  position: absolute;
  left: 16%;
  bottom: 10px;
  width: 20px;
}
.coin5 {
  position: absolute;
  left: 23%;
  top: 10px;
  width: 20px;
}
.coin6 {
  position: absolute;
  left: 30%;
  bottom: -1px;
  width: 20px;
}
.bannerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.bannerContent img {
  width: 160px;
  height: 100px;
}
.middleTexts {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.middleTexts p {
  margin: 0;
  text-align: left;
  color: white;
}
.middleTexts p:nth-child(1) {
  font-size: 12px;
  font-weight: 400;
}
.middleTexts p:nth-child(2) {
  font-size: 24px;
  font-weight: 700;
  padding: 5px 0px;
}
.middleTexts p:nth-child(3) {
  font-size: 16px;
  font-weight: 700;
}
.bannerContent button {
  padding: 8px 10px;
  background: transparent;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.walletTableContainer {
  padding: 20px 0px;
}
.walletTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
}

.walletTable tbody {
  border-radius: 10px;
  border: 1px solid #f0f0f0;
}
.walletTable thead tr {
  border-top: none;
  border-bottom: 1px solid #f0f0f0;
}

.walletTable tr th {
  cursor: pointer;
}

.walletTable .border {
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid white;
}

.walletTable tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.walletTable thead th,
.walletTable tbody td {
  padding: 14px;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  color: #515151cc;
}

.walletTable thead th {
  font-size: 13px;
  font-weight: 400;
  color: #515151cc;
}
.paginationContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.paginationContainer .pages span {
  color: #16161699;
  font-size: 14px;
}
.pagination {
  display: flex;
  justify-content: center;
}

.pagination span {
  padding: 0px 16px;
  font-size: 14px;
}
.pagination button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.active {
  background: #00ba77 !important;
  color: white;
}

@media (max-width: 426px) {
  .rounded-card {
    margin: 3px 8px 0;
  }
  .walletCard {
    padding: 0px;
    height: auto;
  }
}

@media (min-width: 1442px) {
  .rounded-card-container {
    display: flex;
    justify-content: center;
  }
  .rounded-card {
    max-width: 1200px;
  }
}
